* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #f5f7ff;
    padding: 100px 0 0;
}

/* shared style  */
.des-font-color {
    color: rgba(37, 36, 50, 0.726);
}

.primary-text-color {
    color: #4E47FF;
}

.primary-btn {
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    transition: all 1.5s ease;
}
.primary-btn:hover{
    background-color: #231cf0;
    font-size: 18px;
    font-weight: bold;
    
}

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.user-text {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

/* nav style  */

header {
    background-image: url(Assets/Hero-bg.png);
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 158px;
    padding-bottom:50px 0 200px;
}

nav {
    height: 150px;
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
}
nav h1 span{
    color: rgb(0, 0, 0);
}

.signup-btn {
    height: 48px;
    width: 132px;
    font-size: 16px;
    font-weight: bold;

}

.banner {
    text-align: center;
    height: 230px;
    width: 900px;
    margin: 0 auto;
}

.banner-title {
    font-weight: 600;
    font-size: 65px;
    margin-bottom: 35px;
}

.focused-btn {
    height: 48px;
    width: 174px;
    font-size: 16px;
    font-weight: bold;
}

/* action section  */

.action {
    height: 320px;
    width: 1140px;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;
}

.action-content {
    height: 200px;
    width: 515px;
    margin: 40px 0;
}

.action-title {
    font-size: 42px;
    margin-bottom: 20px;
}

.action-description {
    font-size: 24px;
    margin-bottom: 20px;
}

.launch-btn {
    height: 48px;
    width: 225px;
}

.action-img {
    height: 320px;
    width: 400px;
    border-radius: 30px;
}

/* user section  */

.users {
    background-color: #4d47ff17;
    height: 300px;
    width: 1140px;
    margin: 0 auto 100px;
    border-radius: 20px;
    text-align: center;
    padding: 50px 200px;
}

.user-title {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}

.user-quantity {
    display: flex;
    justify-content: space-between;
}

.user-dec {
    font-size: 20px;
}

/* user comment section  */
.user-reviews {
    height: 342px;
    width: 1140px;
    margin: 0 auto 100px;
}

.reviews-title {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 50px;
}

.user-comment {
    height: 243px;
    display: flex;
    gap: 20px;
}

.user {
    height: 243px;
    width: 366px;
    padding: 24px;
    border: 1px solid #F2EDED;
    border-radius: 15px;
    background-color: #ffffff;

}

.rating {
    height: 20px;
    width: 116px;
    margin-bottom: 10px;
}

.rating img {
    padding: 0 0.5px;
}

.comment h3 {
    margin-bottom: 10px;
}

.comment p {
    margin-bottom: 25px;
}

.user-id {
    display: flex;
    gap: 20px;

}

.user-id img {
    border-radius: 50%;
}


/* studio section  */

.studio {
    height: 696px;
    width: 1140px;
    margin: 0 auto 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
}

.studio-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.studio-des {
    margin-bottom: 20px;
}

.studio-btn {
    height: 48px;
    width: 195px;
    margin-bottom: 20px;
    font-weight: 500;
}

.studio-image {
    border-radius: 30px;
}

/* message section  */

.message {
    height: 632px;
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-title {
    height: 232px;
    width: 528px;
}

.message-title h3 {
    font-size: 97px;
    font-weight: bold;
}

.message-form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.message-form label {
    font-size: 18px;
}

.message-form input,
textarea {
    height: 70px;
    width: 497px;
    padding: 20px 32px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    margin-bottom: 10px;
}
.message-form input[placeholder]{
    font-size: 20px;
}

textarea {
    height: 135px;
}
textarea[placeholder]{
    font-size: 20px;
}

.touch-btn {
    height: 62px;
    font-size: 16px;
}

/* footer section  */

footer {
    text-align: center;
    height: 428px;
    border-top: 1px solid #00000010;
}

.footer-content {
    height: 221px;
    width: 531px;
    margin: 100px auto;
    padding: 30px;
}

.footer-logo {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 10px;
}
.footer-logo span{
    color: black;
}

.footer-des {
    margin-bottom: 30px;
}

.footer-links {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    text-decoration: none;
    font-size: 18px;
}