*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */
.des-font-color{
    color: rgba(37, 36, 50,50%);
}
.primary-text-color{
    color: #4E47FF;
}
.primary-btn{
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}
.raleway-font{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.user-text{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

/* nav style  */

header{
    background-image: url(Assets/Hero-bg.png);
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 158px;
    padding-bottom: 200px;
}
nav{
    height: 150px;
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 40px;
  font-weight: bold;
  font-style: normal;
}
.signup-btn{
    height: 48px;
    width: 132px;

}
.banner{
    text-align: center;
    height: 230px;
    width: 900px;
    margin: 0 auto;
}
.banner-title{
    font-weight: 600;
  font-size: 65px;
  margin-bottom: 35px ;
}
.focused-btn{
    height: 48px;
    width: 174px;
}

/* action section  */

.action{
    height: 320px;
    width: 1140px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
.action-content{
    height: 200px;
    width: 515px;
    margin: 40px 0;
}
.action-title{
    font-size: 42px;
    margin-bottom: 20px;
}
.action-description{
    font-size: 24px;
    margin-bottom: 20px;
}
.launch-btn{
    height: 48px;
    width: 225px;
}
.action-img{
    height: 320px;
    width: 400px;
    border-radius: 20px;
}

/* user section  */

.users{
    background-color: #4d47ff17;
    height: 300px;
    width: 1140px;
    margin: 0 auto 100px;
    border-radius: 20px;
    text-align: center;
    padding: 50px 200px;
}
.user-title{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}
.user-quantity{
    display: flex;
    justify-content: space-between;
}
.user-dec{
    font-size: 20px;
}